<html>
  <body>
    Olá {{ name }},
    <br/>
    <br/>
      Alguém pediu para redefinir sua senha em
      <strong>
        <a href="{{ appUrl }}"
        target="_blank"
        style="text-decoration: none;font-weight: bold;color: rgb(130, 195, 252);">
          {{ appName }}
        </a>
      </strong>
      <br/>
      <br/>
      Se não foi você, pode ignorar com segurança este e-mail.
      <br/>
      <br/>
      Clique no link a seguir para escolher uma nova senha:
      <a href="{{ resetUrl }}"
        target="_blank"
        style="text-decoration: none;font-weight: bold;color: rgb(130, 195, 252);">
          {{ resetUrl }}
      </a>
      <br/>
      <br/>
      <strong>{{ appName }}</strong>
  </body>
</html>
