<h2>Olá {{ name }}</h2>
<p>
  Parece que você solicitou uma recuperação de senha, caso queira prosseguir clique no link abaixo:
</p>
<p>
  <a href="{{ resetUrl }}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso não tenha sido você, favor desconsiderar este e-mail.
</p>
<p>
  <strong>Nome do site</strong>
</p>
